.btn-group button {
    background-color: aquamarine; 
    border: 1px solid blue; 
    color: pink; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  .btn-group button:hover {
    background-color: #3e8e41;
  }